read train data

In [25]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import ensemble
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn import cross_validation

In [26]:
X = pd.read_csv('x_train.csv', header=None, na_values='?')
y = pd.read_csv('y_train.csv', header=None, na_values='?')

name columns

In [27]:
X.columns = ['A' + str(i) for i in range(1, len(X.columns)+1)]
y.columns = ['class']
y = y['class']
X.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A21,A22,A23,A24,A25,A26,A27,A28,A29,A30
0,1,1,1,1,0,0,0,1,0,0,...,1,1,1,1,1,0,1,1,0,1
1,1,0,1,0,0,0,1,1,0,1,...,1,1,1,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,1,1,1,...,1,1,0,0,1,1,1,0,1,0
3,1,0,1,1,0,1,0,1,1,0,...,0,1,0,0,1,0,1,1,1,0
4,1,1,0,0,1,0,0,1,0,1,...,1,1,0,1,1,1,1,0,1,1

In [28]:
X.count(axis=0)

A1     210
A2     210
A3     210
A4     210
A5     210
A6     210
A7     210
A8     210
A9     210
A10    210
A11    210
A12    210
A13    210
A14    210
A15    210
A16    210
A17    210
A18    210
A19    210
A20    210
A21    210
A22    210
A23    210
A24    210
A25    210
A26    210
A27    210
A28    210
A29    210
A30    210
dtype: int64

split data

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

model_rfc = ensemble.RandomForestClassifier(n_estimators=100, random_state=123)
model_rfc.fit(X_train, y_train)

importance = model_rfc.feature_importances_
indices = np.argsort(importance)[::-1]
print("Feature importance:")
for f, idx in enumerate(indices):
    print("{:2d}. feature '{:5s}' ({:.4f})".format(f + 1, X.columns[idx], importance[idx]))

Feature importance:
 1. feature 'A22  ' (0.0409)
 2. feature 'A20  ' (0.0393)
 3. feature 'A21  ' (0.0380)
 4. feature 'A1   ' (0.0378)
 5. feature 'A2   ' (0.0377)
 6. feature 'A8   ' (0.0375)
 7. feature 'A5   ' (0.0368)
 8. feature 'A25  ' (0.0366)
 9. feature 'A11  ' (0.0365)
10. feature 'A28  ' (0.0363)
11. feature 'A18  ' (0.0356)
12. feature 'A7   ' (0.0342)
13. feature 'A19  ' (0.0342)
14. feature 'A26  ' (0.0334)
15. feature 'A12  ' (0.0329)
16. feature 'A17  ' (0.0328)
17. feature 'A4   ' (0.0326)
18. feature 'A29  ' (0.0325)
19. feature 'A9   ' (0.0318)
20. feature 'A14  ' (0.0317)
21. feature 'A13  ' (0.0314)
22. feature 'A24  ' (0.0310)
23. feature 'A3   ' (0.0307)
24. feature 'A10  ' (0.0301)
25. feature 'A23  ' (0.0298)
26. feature 'A15  ' (0.0289)
27. feature 'A30  ' (0.0286)
28. feature 'A27  ' (0.0279)
29. feature 'A6   ' (0.0270)
30. feature 'A16  ' (0.0255)

In [30]:
clf = svm.SVC(kernel='linear', C=1)
scores = cross_validation.cross_val_score(clf, X, y, cv=10)
print("Mean err: {:.3f}%".format(100*(1-np.mean(scores))))

Mean err: 63.679%